<div class="container">
    <div class="card mt-5  w-70 text-center bg-dark">
        <div class="row">
            <div class="col-sm-6">
                <img src="https://ak.picdn.net/shutterstock/videos/1006780534/thumb/6.jpg" width="80%"  height="500px" alt="">
            </div>
            <div class="col-sm-6">
        <h1 class="t1">
            The only Truth is Music</h1>
        <h2 class="t2">
            get a message to download the app 
        </h2>
        <input type="number" class="form-control inp1" name="" id="w1" placeholder="+91">
        <label for="w1"></label>
        <input type="number" class="form-control inp2" name="" id="w2" placeholder="Enter Mobile Number">
        <label for="w2"></label>
        <button class="btn btn-danger ">Send OTP</button>
            </div>
            </div>
            </div>
            </div>