<div class="card ">
    <img src="https://www.reliancedigital.in/medias/OnePlus-9-Pro-Smart-Phones-491947276-i-9-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wyODAwMzd8aW1hZ2UvanBlZ3xpbWFnZXMvaDA1L2g5MC85NTEwNjE5NzQyMjM4LmpwZ3xiM2ZhZDBjZDY1Y2U1ZDg0MzgyNDhmMTJkY2ZjZGJlOGVmNmE5YmI3ZDBlZmEyZTMwNDQxZmIzNjAwMWRmZjZm"   class="i1" alt="">
    <div class="row">
        <h1 class="t1 mt-3">ONEPLUS 9 PRO</h1>
        
        <label for="f1">enter pincode for delivery details</label>
        <div class="row">
            <div class="col-sm-6">
        <input type="number" name="" class="form-control" id="f1" #ref>
        </div>
        <div class="col-sm-6">
            <button class="btn-xs btn-dark b1">Check</button>
         
        </div>
        </div>
        <h2 class="t2 mx-3 mt-2">color</h2>
         <button class="b2"><i class="fas fa-circle o1"></i>Reverb-red Bass Edition</button>
        <button class="b3"><i class="fas fa-circle o2"></i>Reverb-blue Bass Edition</button>
        <h2 class="t3"><i class="fas fa-rupee-sign r2"></i>69,999  <small class="l1">M.R.P.      </small><i class="fas fa-rupee-sign r1"></i>     <del> 79,999</del></h2>
        <h3 class="t4 mx-2">inclusive of all taxes</h3>
        <button class="btn btn-danger text-center b4">ADD TO CART</button>
    </div>

</div>