.table {
    border: 1px solid white;
  } 
  .table td {
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: none!important;
  }
  table td {
    border-left: 1px solid white;
    border-right: 1px solid white;
}
table td {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.table thead th {
  border-top: 1px solid white!important;
  border-bottom: 1px solid white!important;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.table td {
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: none!important;
} 
.w{
  margin-right: 500px;
  font-size: 13px;
}
.sp{
  font-size: 10px;
}
