<div class="card  mt-5 mb-5 w-50 d-block mx-auto shadow">
  <img class="d-block mx-auto mt-4" width=30% src={{postObj.profilePic}} alt="" >
  <div class="row mt-4 mb-3">
  <div class="col-1"></div>
     <div class="class col-5" id="i1">
      <h5>User Id </h5>
      <h5>Email</h5>
      <h5>User Name</h5>
      <h5>House Number</h5>
      <h5>Street</h5>
      <h5>Pincode</h5>
      <h5>Profession</h5>
      <h5>Mobile Number</h5>
     </div>
     <div class="col-1">
      <h5>:</h5>
      <h5>:</h5>
      <h5>:</h5>
      <h5>:</h5>
      <h5>:</h5>
      <h5>:</h5>
      <h5>:</h5>
      <h5>:</h5>
     </div>
 <div class="class1 col-5">
  <h5>{{postObj.id}}</h5>
  <h5>{{postObj.email}}</h5>
  <h5>{{postObj.name}}</h5>
  <h5>{{postObj.address.hno}}</h5>
  <h5>{{postObj.address.street}}</h5>
  <h5>{{postObj.address.pincode}}</h5>
  <h5>{{postObj.profession}}</h5>
  <h5>{{postObj.mobileno}}</h5>
 </div>
 
  
</div>
</div>
