<div class="card ">
    <img src="https://www.reliancedigital.in/medias/OnePlus-8-Pro-Smart-Phones-491691684-i-8-1200Wx1200H?context=bWFzdGVyfGltYWdlc3wxNDA3MzF8aW1hZ2UvanBlZ3xpbWFnZXMvaGQ4L2hkNi85Mjc5NTYyMzgzMzkwLmpwZ3w5MDcyMDhkNDc2YjY4MDViYjA4Y2Q4OGRkYWQ3NGRhZWUxNzRmOGFiYzE1MmQxY2U1NTI1MzA1OTg2M2QwZGEz"   class="i1" alt="">
    <div class="row">
        <h1 class="t1 mt-3">ONEPLUS 8 PRO</h1>
        
        <label for="f1">enter pincode for delivery details</label>
        <div class="row">
            <div class="col-sm-6">
        <input type="number" name="" id="f1">
        </div>
        <div class="col-sm-6">
            <button class="btn-xs btn-dark b1">Check</button>
        </div>
        </div>
        <h2 class="t2 mx-3 mt-2">color</h2>
         <button class="b2"><i class="fas fa-circle o1"></i>Glacial Green</button>
        <button class="b3"><i class="fas fa-circle o2"></i>Onyx Black</button>
        <h2 class="t3"><i class="fas fa-rupee-sign r2"></i>48,999  <small class="l1">M.R.P.      </small><i class="fas fa-rupee-sign r1"></i>     <del> 59,999</del></h2>
        <h3 class="t4 mx-2">inclusive of all taxes</h3>
        <button class="btn btn-danger text-center b4">ADD TO CART</button>
    </div>

</div>